		body{
			margin: 0;
			padding: 0;
		}
		a{
    		text-decoration: none;
		}
		.a00{
			width: 100%;
			z-index: 999;
		}
		.a0{
			width: 1180px;
			height: 131px;
			margin: 0 auto;
			margin-top: 7px;
		}
		.a1{
			width: 1180px;
			margin: 0 auto;
			height: 22px;
		}
		.a1 span:hover{
			color: #ff4d04;
		}
		.a11{
			font-size: 11px;
			color: #9a9791;
			float: left;
		}
		.a12{
			margin-left: 379px;
			float: left;
		}
		.a13{
			margin-left: 18px;
			float: left;
		}
		.a14{
			margin-left: 18px;
			font-size: 12px;
			color: #9a9791;
			float: left;
		}
		.a15{
			margin-left: 18px;
			float: left;
			margin-top: -4px;
		}
		.a16{
			font-size: 12px;
			color: #9a9791;
			float: left;
			margin-left: 3px;
		}
		.a161{
			margin-top: -1px;
			margin-left: 18px;
			float: left;
		}
		.a17{
			color: #fe6c00;
			font-size: 12px;
			margin-left: 7px;
			float: left;
			font-weight: 900;
		}
		.a2{
			height: 80px;
			width: 1180px;
			margin: auto 0;
		}
		.a21{
			float: left;
			margin-top: 10px;
			margin-left: -545px;
		}
		.a22{
			margin-left: 105px;
			float: left;
		}
		.a23{
			width: 582px;
			height: 40px;
			border: solid 3px #fe6c00;
			margin-left: -305px;
			margin-top: 25px;
			float: left;
		}
		.a24{
			width: 82px;
			height: 33px;
			background-color: #fe6c00;
			color: white; 
			margin-top: 25px;
			float: left;
			margin-left: -83px;
			padding-top: 13px;
			text-align: center;
		}
		.a25{
			width: 85px;
			height: 40px;
			border: solid 1px #e6e5e2;
			float: left;
			margin-left: 90px;
			margin-top: 25px;
		}
		.a251{
			width: 85px;
			height: 40px;
			border: solid 1px #e6e5e2;
			float: left;
			margin-top: 25px;
		}
		.a26{
			margin-left: 32px;
			margin-top: 6px;
		}
		.a27{
			font-size: 12px;
			color: #9a9791;
			float: right;
		}
		.a28{
			width: 84px;
			height: 41px;
			background-color: #ff4d04;
			float: left;
			margin-top: 26px;
			margin-left: 0.5px;
		}
		.a28 img{
			margin-top: 15px;
			margin-left: 6px;
		}
		.a29{
			font-size: 12px;
			color: white;
		}
		.a3{
			height: 32px;
			width: 1180px;
			margin:auto 0;
		}
		.a30{
			margin-top: 1px;
			float: left;
			margin-left: 8px;
		}
		.a31{
			color: #ff0000;
			font-size: 12px;
			margin-left: 247px;
			float: left;
		}
		.a32{
			color: #ff0000;
			font-size: 12px;
			margin-left: 9px;
			float: left;
		}
		.a33{
			color: #666560;
			font-size: 12px;
			margin-left: 9px;
			float: left;
		}
		.a34{
			color: #c0a9d3;
			font-size: 12px;
			margin-left: 9px;
			float: left;
		}
		.a35{
			height: 40px;
			background-color: black;
		}
		.a36{
			height: 40px;
			width: 1180px;
			margin: 0 auto;
		}
		.a4{
			width: 1180px;
			height: 39px;
			margin:0 auto;
			text-align: center;
		}
		.a41{
			float: left;
			width: 98px;
			height: 31px;
			color: white;
			background-color: #fe0d4a;
			padding-top: 8px;
		}
		.a42{
			float: left;
			font-size: 15px;
			margin-left: 40px;
			color: white;
			margin-top: 8px;
		}
		.a4 a:hover{
			color: #ff4d04;
		}
		.a43{
			float: left;
			font-size: 15px;
			margin-left: 67px;
			color: white;
			margin-top: 8px;
		}
		.a44{
			margin-left: 69px;
			float: left;
		}
		.a5{
			height: 777px;
			background-color: #f6f5f4;
			width: 100%;
		}
		.a51{
			width: 1180px;
			height: 37px;
			margin: 0 auto;
		}
		.a511{
			font-size: 12px;
			color: black;
		}
		.a512{
			width: 1180px;
			height: 632px;
			margin: 0 auto;
		}
		.a513{
			width: 996px;
			height: 632px;
			background-color: white;
			float: left;
		}
		.a514{
			border: 1px solid #d0cdc7;
			width: 410px;
			height: 419px;
			float: left;
			margin-left: 20px;
			margin-top:20px;
			position:relative;
		}
		.a515{
			width: 506px;
			height: 430px;
			float: left;
			margin-left: 18px;
			margin-top: 22px;
		}
		.a516{
			font-size: 16px;
		}
		.a517{
			font-size: 12px;
			color: #676660;
			margin-top: 12px;
		}
		.a518{
			font-size: 12px;
			color: #676660;
			margin-top: 9px;
		}
		.a519{
			width: 170px;
			height: 19px;
			margin-left: 19px;
			margin-top: 28px;
		}
		.a52{
			font-size: 12px;
		}
		.a521{
			color: #ff0000;
			font-size: 17px;
			margin-left: 48px;
		}
		.a522{
			font-size: 12px;
			text-decoration: line-through;
		}
		.a523{
			width: 200px;
			height: 19px;
			margin-left: 19px;
			margin-top: 11px;
		}
		.a524{
			font-size: 12px;
		}
		.a525{
			font-size: 12px;
			margin-left: 11px;
		}
		.a526{
			width: 500px;
			height: 44px;
			background-color: #f7f6f5;
			margin-top: 10px;
		}
		.a527{
			width: 60px;
			height: 20px;
			border: 1px solid #ff0655;
			border-radius: 3px;
			margin-left: 20px;
			margin-top: 16px;
			float: left;
		}
		.a528{
			width: 30px;
			height: 22px;
			background-color: #ff0655;
			float: left;
			margin-top: -1px;
		}
		.a529{
			color: white;
			font-size: 12px;
			float: left;
			margin-left: 4px;
			margin-top: 2px;
		}
		.a53{
			width: 30px;
			height: 18px;
			float: left;
			margin-top: 1px;
			background-color: white;
		}
		.a531{
			color: #ff0655;
			float: left;
			font-size: 12px;
			margin-left: 2px;
		}
		.a532{
			float: left;
			color: #676660;
			font-size: 12px;
			margin-left: 27px;
			margin-top: 19px;
		}
		.a533{
			width: 260px;
			height: 34px;
			margin-left: 22px;
			margin-top: 20px;
		}
		.a5331 {
			margin-left: -75px;
			margin-top: 17px;
		}
		.a5332 {
			margin-left: 44px;
			margin-top: 17px;
		}
		.a534{
			font-size: 12px;
			float: left;
			margin-top: 4px;
		}
		.a5341{
			width: 62px;
			height: 30px;
			border: 1px solid #ff0853;
			text-align: center;
			font-size: 12px;
			margin-left: 35px;
			background-color: white;
			float: left;
			cursor: pointer;
		}
		.a5342{
			width: 62px;
			height: 30px;
			text-align: center;
			font-size: 12px;
			background-color: white;
			float: left;
			border: 1px solid white;
		}
		.a535{
			width: 300px;
			height: 36px;
			margin-top: 10px;
			margin-left: 22px;
		}
		.a536{
			font-size: 12px;
			float: left;
			margin-left: 20px;
			margin-top: 4px;
		}
		.a537{
			width: 26px;
			height: 29px;
			border: 1px solid #cecbc5;
			float: left;
			font-size: 18px;
			margin-left: 74px;
			background-color: white;
		}
		.a538{
			border: 1px solid #aca7a2;
			float: left;
			padding-bottom: 5px;
			padding-left:15px;
		}
		.a5381{
			width: 52px;
			height: 25px;
			border: 1px solid #aca7a2;
			text-align: center;
			float: left;
		}
		.a539{
			width: 26px;
			height: 29px;
			border: 1px solid #cecbc5;
			float: left;
			font-size: 18px;
			background-color: white;
		}
		.a54{
			width: 130px;
			height: 20px;
			margin-left: 22px;
		}
		.a541{
			color: #666560;
			font-size: 12px;
			float: left;
		}
		.a542{
			color: #ff0457;
			float: left;
			margin-left: 69px;
			font-size: 12px;
			margin-top: 2px;
		}
		.a543{
			color: #666560;
			font-size: 12px;
			float: left;
			margin-top: 2px;
		}
		.a544{
			width: 130px;
			height: 20px;
			margin-left: 114px;
			margin-top: 18px;
		}
		.a545{
			float: left;
			font-size: 12px;
		}
		.a546{
			font-size: 12px;
			color: #ff9003;
			float: left;
			margin-left: 19px;
		}
		.a547{
			width: 330px;
			height: 54px;
			margin-top: 17px;
			margin-left: 22px;
		}
		.a548{
			width: 150px;
			height: 40px;
			border: 1px solid #ff0754;
			border-radius: 5px;
			color: #ff0754;
			background-color: white;
		}
		.a549{
			width: 150px;
			height: 40px;
			border: 1px solid #ff0754;
			border-radius: 5px;
			color: white;
			background-color: #ff0754;
			margin-left: 22px;
		}
		.a55{
			margin-left: 4px;
			float: left;
		}
		.a551{
			width: 1180px;
			margin: 0 auto;
		}
		.a552{
			width: 410px;
			height: 65px;
			float: left;
			margin-left: 20px;
			margin-top: 3px;
		}
		.a553{
			border: 1px solid #ff9003;
			float: left;
		}
		.a5531{
			border: 1px solid white;
			float: left;
		}
		.a554{
			float: right;
		}
		.a94{
		    width: 100%;
		    height: 1300px;
		    background-color: #dedcd8;
		    opacity: 0.5;
		    display: none;
		    position: fixed;
		    left: 0px;
		    top: 0px;
		}
		.a941{
		    width: 400px;
		    height: 220px;
		    position: fixed;
		    left: 34%;
		    top: 25%;
		    display: none;
		    background-color: white;
		    border: 5px solid #aca9d3;
		}
		.a943 {
	   	 	margin: 10px 0px 0px 15px;
		}
		.a942 {
		    margin: 3px 0px 0px 372px;
		    background-color: white;
		    border: 1px solid white;}
		.a944 {
		    float: left;
		    font-size: 16px;
		    background-color: white;
		    border: 1px solid #ff0754;
		    padding: 10px 45px 10px 45px;
		    color: #ff0754;
		    border-radius: 5px;
		    margin-left: 15px;
		    margin-top: 20px;
		}
		.a945 img{
			margin-left: 50px;
			margin-top: 20px;
		}
		.a60{
			height: 180px;
			background-color: white;
		}
		.a6{
			width: 1180px;
			height: 180px;
			margin: 0 auto;
		}
		.a61{
			float: left;
		}
		.a62{
			float: left;
			width: 70px;
			height: 120px;
			margin-top: 31px;
			margin-left: 83px;
		}
		.a621{
			font-size: 15px;
		}
		.a622{
			font-size: 12px;
			margin-top: 13px;
			color: #666560;
		}
		.a63{
			width: 65px;
			height: 92px;
			float: left;
			margin-top: 31px;
			margin-left: 59px;
		}
		.a64{
			width: 66px;
			height: 116px;
			margin-top: 31px;
			margin-left: 67px;
			float: left;
		}
		.a65{
			width: 67px;
			height: 90px;
			margin-top: 31px;
			margin-left: 67px;
			float: left;
		}
		.a66{
			margin-top: 27px;
			margin-left: 67px;
			float: left;
		}
		.a671{
			width: 1030px;
			height: 1px;
			border-bottom: 1px solid #ebeae8;
			margin-left: 150px;
		}
		.a670{
			width: 1180px;
			height: 164px;
			margin: 0 auto;
		}
		.a67{
			height: 174px;
			background-color: white;
		}
		.a68{
			width: 653px;
			height: 17px;
			margin-left: 263px;
			margin-top: 18px;
		}
		.a681{
			font-size: 12px;
			color: #666560;
			float: left;
		}
		.a682{
			float: left;
			margin-left: 11px;
		}
		.a683{
			float: left;
			font-size: 12px;
			color: #666560;
			margin-left: 11px;
		}
		.a69{
			width: 486px;
			height: 17px;
			margin-left: 348px;
			margin-top: 7px;
		}
		.a691{
			font-size: 12px;
			color: #9a9791;
		}
		.a692{
			font-size: 12px;
			color: #9a9791;
			float: left;
		}
		.a7{
			width: 1063px;
			height: 15px;
			margin-left: 55px;
			margin-top: 9px;
		}
		.a71{
			height: 13px;
			width: 1px;
			border-left: 1px solid #9a9791;
			float: left;
			margin-top: 3px;
			margin-left: 4px;
			margin-right: 4px;
		}
		.a8{
			width: 126px;
			height: 12px;
			margin-left: 527px;
			margin-top: 10px;
		}
		.a9{
			width: 783px;
			height: 62px;
			margin-left: 193px;
			margin-top: 8px;
		}
		.a91{
			float: left;
		}
		.a92{
			float: left;
			margin-top: 7px;
			margin-left: 5px;
		}
		.a93{
			float: left;
			margin-top: -3px;
			margin-left: 5px;
		}
		#slider{
			width:100px;
			height:100px;
			position:absolute;
			left:0;
			top:0;
			background:#CCC;
			opacity:0.4;
			cursor: crosshair;
			display:none;
			filter:alpha(opacity=40);
		}
		.box{
			border: 1px solid #d0cdc7;
			width: 410px;
			height: 419px;
			margin-top:20px;
			overflow: hidden;
			display: none;
			position: absolute;
			left: 430px;
			top:0px;
		}
		#big{
			position: absolute;
			left: 0;
			top:0;
		}
		.hk{
			position: absolute;
		}